<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.linchuanedu.edu.plugin.PagingPlugin">
            <!--默认第1页-->
            <property name="default.page" value="1"/>
            <!--默认每页20条-->
            <property name="default.pageSize" value="20"/>
            <!--默认不启用分页插件-->
            <property name="default.useFlag" value="false"/>
            <!--默认不检查页码-->
            <property name="default.checkFlag" value="false"/>
        </plugin>
    </plugins>
</configuration>